// Ce fichier contient toutes les classes scss qui sont utilisés de manières répétitives
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    background-color: #73db75;
    z-index: 10;
}

section {
    color: black;

    @include desktop{
        @include set-font($size: 1.0em);
    }

    @include tablet-only{
        @include set-font($size: 1.5em);
    }

    @include mobile{
        @include set-font($size: 0.8em);
        min-width: 500px;
    }

    &.has-colored-bg {
        @include set-colors($background: #f5f5f5);
    }
}

.center-no-flex {
    text-align: center !important;
    vertical-align: middle !important;
}

.flex-center-vertical {
    align-items: center;
}

.flex-center-horizontal {
    justify-content: center;
}

.flex-center-hv {
    align-items: center;
    justify-content: center;
}

.font-titles {
    strong {
        color: inherit;
    }

    @include desktop{
        h1 {
            font-size: 2.5em;
            font-weight: bold;
            color: $main_color;
        }

        h2 {
            font-size: 2em;
            font-weight: bold;
        }

        h3 {
            font-size: 1.6em;
            font-weight: bold;
        }

        h4 {
            font-size: 1.3em;
        }

        h5 {
            font-size: 1.2em;
        }

        h6 {
            font-size: 1.1em;
        }

    }

    @include tablet-only{
        h1 {
            font-size: 2.5em;
            font-weight: bold;
            color: $main_color;
        }

        h2 {
            font-size: 2em;
            font-weight: bold;
        }

        h3 {
            font-size: 1.8em;
            font-weight: bold;
        }

        h4 {
            font-size: 1.5em;
        }

        h5 {
            font-size: 1.4em;
        }

        h6 {
            font-size: 1.3em;
        }
    }

    @include mobile{
        h1 {
            font-size: 2em;
            font-weight: bold;
            color: $main_color;
        }

        h2 {
            font-size: 1.8em;
            font-weight: bold;
        }

        h3 {
            font-size: 1.6em;
            font-weight: bold;
        }

        h4 {
            font-size: 1.4em;
        }

        h5 {
            font-size: 1.2em;
        }

        h6 {
            font-size: 1.0em;
        }
    }
}

.has-margin-top {
    margin-top: $header-height;

    @include tablet-only{
        margin-top: $header-height + 5%;
    }

    @include mobile{
        margin-top: $header-height + 10%;
    }
}

