// Ce fichier contient divers fonctions (mixins) utilisés dans le projet

// Mixin pour la police d'écriture
@mixin set-font($family: 'Arial', $weight: normal, $style: normal, $size: 1.0) {
    font-family: $family, serif;
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
}

// Initialisation des barres de navigation
@mixin init-navbar($background, $width, $z-index ) {
    background-color: $background;
    width: $width;
    z-index: $z-index;
}

// Définit une position
@mixin set-position($position: static, $top: none, $right: none, $bottom: none, $left: none) {
    position: $position;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
}

// Définit les dimensions
@mixin set-dimension($width: auto, $height: auto) {
    width: $width;
    height: $height;
}

// Définit les couleurs
@mixin set-colors($color: none, $background: none) {
    color: $color;
    background-color: $background;
}