// Ce fichiers contient toutes les variables scss qui seront disponibles au travers de tout le projet

// Couleurs principales
$main_color: #6975c9;                // Couleur du titre d'accueil
$header-background-color: #73db75;   // Couleur de fond de l'entête de l'application
$section-beackground-color: #f5f5f5; // Couleur de fond de certaines sections